<h1>Lista de Raças</h1>

<table>
    <thead> <!-- cabecalho da tabela-->
         <tr><!-- linha da tabela-->
             <th>Codigo</th><!-- coluna especifica-->
             <th>Nome</th>
             <th>Especie</th>
    
         </tr>
    </thead>
    <tbody><!-- lugar dos registros-->
        <tr>
            <td>1</td><!-- coluna especifica para body-->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
    </tbody>
</table>
